<div class="row mb-5">
  <div class="col">
    <%= link_to 'View all recipes', root_path %>
  </div>
</div>

<div class="row">
  <div class="col col-lg-6">
    <%= render partial: 'image', locals: { recipe: @recipe } %>
  </div>

  <div class="col col-lg-6">
    <h1 class="mb-3"><%= @recipe.title %></h1>

    <% if @recipe.fields[:chef].present? %>
      <i class="chef-name">by <%= @recipe.fields[:chef].fields[:name] %></i>
    <% end %>

    <% if @recipe.fields[:tags].present? %>
      <% @recipe.fields[:tags].each do |tag| %>
        <span class="badge badge-light">
          <%= tag.fields[:name] %>
        </span>
      <% end %>
    <% end %>

    <p class="mt-3">
      <%= @recipe.fields[:description] %>
    </p>
  </div>
</div>
